


<link rel="stylesheet" href="~/css/contact.css"/>
<partial name="_NavMenuOption" />

<div class="contact-app">
    <h1>Qui sommes-nous ?</h1>
    <hr />
    <p>Nous sommes une équipe passionnée par le partage de connaissances et la création de contenu enrichissant. Notre plateforme de blogues permet à chacun de partager ses idées, d'apprendre et de se connecter avec des personnes partageant les mêmes centres d'intérêt. Nous croyons que la collaboration et l'échange d'idées peuvent transformer notre façon de penser et de vivre. Notre équipe se compose de professionnels expérimentés dans l'écriture, le développement web et la gestion de communautés en ligne.</p>

    <h1>Comment nous rejoindre ?</h1>
    <hr />
    <div class="contact-info">
        <p><strong>Téléphone :</strong> +33 1 23 45 67 89</p>
        <p><strong>Adresse :</strong> 123 Rue de l'Innovation, 75001 Paris, France</p>
        <p><strong>Email professionnel :</strong> contact@blogueexemple.com</p>
    </div>
</div>
